/*
light-blue: 			#03a9f4
grey lighten-2: 		#e0e0e0
light-blue lighten-5:	#e1f5fe
lime accent-1			#f4ff81
grau:					#616161

ZuschauerIcon:			visibility
AuslöserIcon:			star, touch_app
*/

html{
	background-color: #fafafa;
  	height: 100%;
	margin: 0;
	padding: 0;
}

/*body{
	margin:0;
	padding:0;
	height: 100%;
}*/

.fullwidth{
	width: 100%;
}

h2{
	color: #03a9f4;
	font-family: 'Oswald', sans-serif;
}

h1{
	font-family: 'Orbitron', sans-serif;
}

.tabs .tab a{
	color: #e1f5fe;
}

.tabs .tab a.active{
	color: #f4ff81;
}

.tabs .tab a:hover{
	color: #f4ff81;
}

.tabs .indicator{
	color: #f4ff81;
	background-color: #f4ff81;
}


.btnsetup{
	position:absolute;
	margin-top: 20px;
	height: 100px;
	padding-top: 30px;
	font-size: 300%;
	bottom: 2%;
	vertical-align: middle;
}

.liveBottom{
	position: fixed;
	left: 0;
	bottom: 0;
	margin-bottom: 40px;
	width: 100%;
}

.fixedBottom{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
}

/*Trigger Button - Live View*/
.trigger{
	font-size: 300%;
	padding-top: 30px;
	height: 100px;
	width: 100%;
	float: left;
	margin-bottom: 1px;
}

/*Anzeige Zuschauer/Auslöser*/
.statusBar{
	height: 40px;
	width: 100%;
	float: left;
}

/* Square = Anzeige der Messungen*/
.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #616161;
    margin-top: 20px;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 30%;
}

/*Content : Inhalte der Messungsanzeige -> Messung*/
.square-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.square-content div {
   display: table;
   width: 100%;
   height: 100%;
   font-size: 300%;
   padding-top: 3%;
   font-family: 'Orbitron', sans-serif;
}

/*Font Größe für Messungsihalt*/
@media only screen and (max-width: 1920px) {
   .square-content div { font-size: 9em; }
   .coordinateStyle { font-size: 8em; }
   .square-box:before { padding-top: 20%; }
}
@media only screen and (max-width: 1366px) {
   .square-content div { font-size: 7em; }
   .coordinateStyle { font-size: 7em; }
   .square-box:before { padding-top: 20%; }
}
@media only screen and (max-width: 1080px) {
   .square-content div { font-size: 5em; }
   .coordinateStyle { font-size: 5em; }
   .square-box:before { padding-top: 25%; }
}
@media only screen and (max-width: 694px) {
   .square-content div { font-size: 4em; }
   .coordinateStyle { font-size: 4em; }
   .square-box:before { padding-top: 30%; }
}
@media only screen and (max-width: 414px) {
   .square-content div { font-size: 3em; }
   .coordinateStyle { font-size: 3em; }
   .square-box:before { padding-top: 35%; }
}
@media only screen and (max-width: 320px) {
   .square-content div { font-size: 2em; }
   .coordinateStyle { font-size: 2em; }
   .square-box:before { padding-top: 30%; }
}

.square-content span {
    display: table-cell;
    text-align: right;
    padding-right: 6%;
    vertical-align: middle;
    color: white;
}

/*Style der XYZ Bezeichner*/
.coordinateStyle{
	font-family: 'Orbitron', sans-serif;
	font-size: 300%;
	margin-top: 10.5%;
	width: 100%;
   	height: 100%;
}

/*Anpassung der Input Felder (Login)*/
.input-field input[type=text]:focus + label {
  color: #03a9f4;
}

.input-field input[type=text] {
  border-bottom: 1px solid #03a9f4;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 0px 0 0;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 0px 0 0;
}

/*Anpassung der collapsible Liste*/
.collapsible-header{
	background-color: #616161;
	color: white;
	border-bottom: 1px solid #fff
}

.collapsible-body p{
	background-color: #03a9f4;
	color: white;
}

.red2{
	color: #d50000;
}

.optionBtn{
	height: 60px;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 1.2em;
}

.optionBtnLive{
	height: 60px;
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 1.2em;
}

.optionBtn i{
	font-size: 1.2em;
}

#measurementSeries{
	margin-top: 20px;
}

/* Florian */

.input-field input[type=text].success
{
	border-bottom: 1px ridge green;
}

.input-field input[type=text].failed
{
	border-bottom: 1px ridge red;
}
